
.show-type-select-container{
  margin-bottom: 10px;
}
.show-type-select-item{
  display: inline-block;
  padding: 10px;
}
.show-type-select-item-select{
  font-weight: bold;
  font-size: 18px;
}

.table-contain{
  font-size: 12px;
}
.table-header{
  width: 75px;
  font-weight: bold;
  text-align: start;
}
.table-data-tail{
  margin-left:10px;
}

