.tools-box-container {
  padding: 5px 5px;
  display: flex;
  align-items: center;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 98.5%;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.8));
  overflow: hidden;
  height: 54px;
}
.data-input-container textarea{
  min-height: 150px;
  width: 100%;
}
.data-auto-send-container{
  width:100px;
  margin-right: 5px;
  float: right;
  margin-left: auto;
}
.data-auto-send-container button{
  width:100%;
  margin:0;
}
.data-send-formatter-selector-container{
  width:62px;
  margin-left: 5px;
}
.data-send-formatter-selector-container button{
  width:100%;
  margin:0;
}

.txdata-operator-container{
  width: 98px;
}
.txdata-operator-container button{
  margin: 0;
  width: 100%;
}
.txcount-show-container {
  color: white;
  margin-left: auto;
}
.show-tx-record-container {
  position: absolute;
  top: 38px;
  right: 0;
  width: auto;
  max-width: 60%;
  padding: 10px;
  background-color: purple;
  color: whitesmoke;
}

.show-autosend-tx-container {
  position: absolute;
  top: 38px;
  right: 0;
  width: auto;
  max-width: 70%;
  padding: 10px;
  background-color: skyblue;
  color: whitesmoke;
}

/* 自动发送配置 */
.van-dialog{
  border-radius: 5px;
  width: 360px;
}
.van-popup--center.van-popup--round{
  border-radius: 5px;
  width: 360px;
}
.auto-pop-config-container{
  overflow: hidden;
  padding: 10px;
}
.auto-pop-config-container-title {
    text-align: center;
    padding: 6px;
    font-weight: 700;
}