.tools-box-container {
  padding: 5px 5px;
  display: flex;
  align-items: center;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 98.5%;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.8));
  overflow: hidden;
  height: 54px;
}
.data-auto-send-container{
  width:100px;
  margin-left: 5px;
}
.data-auto-send-container button{
  width:100%;
  margin:0;
}
.data-send-formatter-selector-container{
  width:62px;
  margin-right: 5px;
  float: right;
  margin-left: auto;
}
.data-send-formatter-selector-container button{
  width:100%;
  margin:0;
}

.txdata-operator-container{
  width: 98px;
}
.txdata-operator-container button{
  margin: 0;
  width: 100%;
}